Icon1 ICON "D:\Delphi\Proyectos\HPUserEdit\Images\USEREDIT5.ICO"
Icon2 ICON "D:\Delphi\Proyectos\HPUserEdit\Images\EXT_HPE.ICO"
Icon3 ICON "D:\Delphi\Proyectos\HPUserEdit\Images\EXT_HPPRJ.ICO"
Icon4 ICON "D:\Delphi\Proyectos\HPUserEdit\Images\EXT_HPPRG.ICO"
Icon5 ICON "D:\Delphi\Proyectos\HPUserEdit\Images\EXT_HPDIR.ICO"
Icon6 ICON "D:\Delphi\Proyectos\HPUserEdit\Images\EXT_HPLST.ICO"
Icon7 ICON "D:\Delphi\Proyectos\HPUserEdit\Images\EXT_HPSTR.ICO"
Icon8 ICON "D:\Delphi\Proyectos\HPUserEdit\Images\EXT_HPARR.ICO"
Icon9 ICON "D:\Delphi\Proyectos\HPUserEdit\Images\EXT_HPALG.ICO"
IconA ICON "D:\Delphi\Proyectos\HPUserEdit\Images\EXT_HPGRB.ICO"
IconB ICON "D:\Delphi\Proyectos\HPUserEdit\Images\EXT_HPOBJ.ICO"